# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
/bin/

# Configuration
config.yaml

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
coverage.html

# Go workspace file
go.work
.certificates
.idea/dataSources.xml
.idea/modules.xml
.idea/ohana.iml
.idea/vcs.xml
*.shard0
*.shard1
*.shard2
*.DS_Store
