.loginBox {
  border: 1px solid #ccc;
  border-radius: 3%;
  text-align: center;
  width: 400px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
}
.dashboardCard{
  width: 500px;
  border: 0px;
  margin: 10px;
  height: 300px;
}
.console {
  border: 1px solid #ccc;
  border-radius: 1%;
  text-align: left;
  width: 800px;
  background-color: white;
  display: flex;
  flex-direction: column;

}
.maintenanceLogs{
  border: 1px solid #ccc;
  border-radius: 1%;
  text-align: left;
  width: 800px;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.rotateKey{
  border: 1px solid #ccc;
  text-align: left;
  width: 800px;
  background-color: white;
  padding-left:10px;
  height: 400px;
}
#maintenanceLogsTable td,th {
  font-size: 12px;
  font-weight: 400;
  text-align: 'left';
  color:black;
}
.ssoGroupsDetails{
    border: 1px solid #ccc;
    text-align: left;
    width: 800px;
    background-color: white;
    padding-left:10px;
}
.settings{
  border: 1px solid #ccc;
  border-radius: 1%;
  height: 550px;
  text-align: left;
  width: 800px;
  background-color: white;
  display: flex;
  flex-direction: column;
}
#settingText{
  text-align: left;
  margin-top: 10px;
  margin-left: 10px;
  font-weight: 400;
  font-size: 18px;
  color: black;

}
.maintenanceSettings{
  border: 1px solid #ccc;
  text-align: left;
  width: 800px;
  background-color: white;
  padding-left:10px;
  height: 530px;
  display: flex;
  flex-direction: column;
}
#maintenanceSettings caption{
    font-weight: 600;
    font-size: 24px;
    color: black;
    text-align: center;
}
#maintenanceSettings td,th {
  font-size: 16px;
  font-weight: 400;
  text-align: 'left';
  color:black;
}
@media screen and (max-width: 450px) {
  .loginBox {
    width: 350px;
  }
}
.dashboardLogsCard {
  width: 500px;
  border: none;
  margin: 10px;
}
@media screen and (min-width: 450px) {
  #maintenanceLogsTable td,th {
    font-size: 16px;
    font-weight: 400;
    text-align: 'left';
    color:black;
    }

}
@media screen and (max-width: 500px) {
  #maintenanceSettings td,th {
    font-size: 12px;
    font-weight: 400;
    text-align: 'left';
    color:black;
    }
    #settingText{
      font-size: 12px;
    }
    .settings{
      border:none;
    }
  #maintenanceSettings caption{
    font-size: 18px;
  } 
  .maintenanceSettings{
      height: 500px;
      border:none;
    }
    .maintenanceLogs{
      border:none;
    }
    .console{
      border:none;
    }
}
@media screen and (min-width: 1830px) {
  .dashboardLogsCard {
    width: 1950px;
  }
  .dashboardCard{
    width: 500px;
    border: 0px;
    margin: 10px;
    height: 300px;
  }
  .maintenanceLogs{
    width: 1200px;
  }
  #maintenanceLogsTable td,th {
    font-size: 22px;
    font-weight: 400;
    text-align: 'left';
    color:black;
    }

}


